streamlit
pandas
matplotlib
wordcloud
snownlp
scikit-learn
streamlit-echarts>=1.0.0 
pyecharts>=2.0.0 

注意，如果并不在app1中打开，可能会出现secrect.toml的错误
哈工大停用词库
有些用户输入的内容被切割后为NaN值，会报错

情感饼图
情感折线图
数量-时间折线图
# 词云生成
雷达图

# 热力地图
情感分析过于简单且不够准确

分类-情感分类
聚类-主题提取

建议使用夸克浏览器
